<footer class="footer footer-custom">

    <!--

    <div class="col-12 col-md text-center text-md-left nav-link text-black">

        Funding: <a href="https://www.nsf.gov">National Science Foundation</a>, <a href="https://www.nsa.gov/">National Security Agency</a>, <a href='https://www.simonsfoundation.org'>Simons Foundation</a> <br />

    </div>
    
    -->

    <div class="col-12 col-md text-center text-md-left nav-link text-black">
        {{ site.Params.address_line1 }}, {{ site.Params.address_line2 }}, {{ site.Params.address_line3 }} (<a href="{{ site.Params.address_map_link }}">Map</a>)

    </div>

    <div class="col-12 col-md text-center text-md-left nav-link text-black">

        © {{ site.Params.copyright_text }} - {{ now.Year }} <br /> All rights reserved.
        
    </div>

</footer>